* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    transition-duration: 0.5s;
    color: var(--white);
}



:root {
    --black: #262322;
    --black-2: #1d2d44;
    --accent: #CC5803;
    --white: #F2E5D7;

    --red: red;
    --green-2: green;
    --blue: blue;
    --yellow: yellow;

    --widthKey: calc(6vh);
    --heightKey: calc(6vh * 2.5);
    --bordMarKey: calc(1.5vh);

    --heightPageContent: calc(95vh - var(--heightKeyB));
    --topPageContent: 5vh;

    --heightPageContentNav: 80vh;
    --topPageContentNav: 15vh;

    --leftContent: -90vw;

    --heightKeyB: calc(var(--heightKey) + var(--bordMarKey) * 16);
    --widthKeyB: calc((var(--widthKey) + var(--bordMarKey) * 4) * 7);

    --fontsizeKey: 35px;
    --fontsizeMed: calc(3vh);
    --fontsizeBig: 5vh;
    --fontsizeSmall: 25px;


    /** transform nav **/
    --translateNavBar: translatey(10vh);
    --widthUseNavBut: 20vh;
}

.langTitle {
    border-radius: calc(var(--fontsizeMed) / 2);
    text-align: center;
    width: 40%;
    margin: 5%;
}

.html {
    background-color: #E44D26;
}
.css {
    background-color: #264de4;
}
.js {
    background-color: #f0db4f;
    color: black;
}

.java {
    background-color: var(--white);
    color: #5382a1;
}

.javaJ {
    color: #f89820;
}

.lua {
    background-color: #000080;
    color: var(--white);
    border: calc(var(--fontsizeSmall) / 8) dashed #808080;
}


body {
    background-color: var(--black);
    background-size: contain;
    background-position: center;
}

canvas {
    position: fixed;
    top: 50vh;
    width: 50vw;
}

h1 {
    color: var(--white);
    border-radius: 10px;
    font-size: var(--fontsizeBig);
    width: 90vw;

    
}

h2 {
    font-size: var(--fontsizeBig);
    margin-bottom: 2.5%;
}

.h2space {
    height: calc(var(--fontsizeBig) * 1.31);
    margin-bottom: 2.5%;
}

a {
    text-decoration: underline;
}

a:hover {
    color: var(--accent);
}

.naamColor {
    color: var(--accent);
    text-decoration: underline var(--white);
}

i {
    color: var(--accent);
}

img {
    height: 90%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 10px 10px 10px var(--accent);
    
}

#homeFoto {
    animation-name: FromRight;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes FromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.centre {
    display: flex;
    justify-content: center;
    align-content: center;
}

.visMobile {
    display: none;
}

.name {
    padding-left: 10vw;
}

.title {
    font-size: calc(var(--fontsizeBig) * 0.9);
    text-align: right;
    padding-right: 0vw;
    width: 50vw;
}

#enterButton {
    box-shadow:
    2.5px 2.5px 10px #ffffff;

    font-size: 3vw;
    width: 10vw;
    height: 10vw;
    background-color: var(--black);
    border-radius: 1000px;

    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;


}

.dispenseParent:hover .dispense1 {
    transform: translate(-1vw, -1.5vh);
}
.dispenseParent:hover .dispense2 {
    transform: translate(-0.5vw, 1.3vh);
}
.dispenseParent:hover .dispense3 {
    transform: translate(0vw, -0.8vh);
}
.dispenseParent:hover .dispense4 {
    transform: translate(0.5vw, 0.7vh);
}
.dispenseParent:hover .dispense5 {
    transform: translate(1vw, -1.5vh);
}

.colorSun {
    animation-name: colorSun;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
}


@keyframes colorSun {
    from {
        box-shadow:
        0 0 1vw var(--accent);
    }
    to {
        box-shadow:
        0 0 2vw var(--accent);
    }
}

p {
    font-size: calc(var(--fontsizeMed) * 1);
}

@media only screen and (max-width: 1000px) and (min-width: 600px) {
    p {
        font-size: calc(var(--fontsizeMed) * 0.8);
    }
}

/**Navigatie**/
nav {
    background-color: var(--white);
    width: 100vw;
    height: 11vh;

    position: fixed;

    top: -11vh;

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;

}

#usenavbut {
    border: none;
    background: none;
    color: var(--accent);

    background-color: var(--white);

    border-bottom-right-radius: 10px;

    width: 20vh;
    height: 20vh;

    transform: translateY(-100%);

    display: none;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-end;
	align-content: stretch;

    z-index: 10;

    position: fixed;
    top: -10vh;
    left: -10vh;

    cursor: pointer;
}

.margin-a {
    margin: 15%;
}

#usenavbut:hover > div{
    transform: scale(120%);
}


.navbut {
    box-sizing:content-box;
    transition-duration: 0s;

    font-size: calc(var(--fontsizeMed) * 0.8);

    border: none;
    background: none;
    width: 10%;
    height: 10vh;
    cursor: pointer;
    color: var(--black);
}

.navbutSelected {
    border-bottom: var(--accent) 1vh solid;
    color: var(--accent);
    font-size: calc(var(--fontsizeMed) * 1) ;
}

/**Intro Scherm**/

.introScherm {
    width: 100vw;
    height: 100vh;

    position: fixed;

    z-index: 2000;


}

.introBut {
    width: 10vw;
    height: 5vw;

    border: none;

    background: none;
    font-size: calc(var(--fontsizeMed) * 1.5);
    color: var(--accent);

    position: fixed;
    bottom: calc(var(--heightKeyB) + 150px);
    left: calc(50vw - 5vw);

    animation-name: opa;
    animation-fill-mode: both;
    animation-duration: 1s;

    animation-delay: 4s;
}

.introBut:hover {
    text-decoration: underline;
}

#skip {
    bottom: calc(var(--heightKeyB) / 4);
    left: 10px;
    animation: none;
}

#landingpage {
    width: 100vw;
    height: 100vh;
    background-color: var(--black);

    position: fixed;

    transition-duration: 0.5s;

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

#bottomRowLandingPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    width: 90vw;
}

#langBut {
    width: 100px;
    height: 50px;
    background-color: var(--accent);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lang {
    font-size: 3vh;
    width: 40%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}


.langSelected {
    background-color: var(--black);
    border-radius: 10px;
}

#bladmuziek {
    background-image: url(../assets/images/bladmuziekLandingpage.svg);
    width: 100vw;
    height: 100vh;
    
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

#textKey {
    bottom: var(--heightKeyB);
    width: 100vw;

    animation-delay: 1s;
}

#textNav {
    width: 100vw;
    top: 15vh;

    animation-delay: 2s;
}

#textNavBut {
    top: 25vh;
    left: 5vw;
}

/**Intro Animatie**/


@keyframes flyinkeys {
    from {transform: translateY(500px);
    }
    to {transform: translateY(0px);}
}

.flyin {
    animation-name: flyinkeys;
    animation-fill-mode: forwards;
}

@keyframes flyintitle {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes flyinnav {
    from {transform: translateY(0%);}
    to {transform: translateY(100%);}
}

@keyframes flyinnavbut {
    from {transform: translateY(-50%);}
    to {transform: translateY(50%);}
}

@keyframes opa {
    from {opacity: 0;}
    to {opacity: 1;}
}


/**Main content**/
#pagecontent {
    width: calc(80vw - 15px);
    height: var(--heightPageContent);

    display: none;
    opacity: '0';

    transition-duration: 0.5s;

    position: fixed;
    top: var(--topPageContent);
    left: 10vw;

    border-left: var(--accent) solid 10px;
    padding-left: 10px;

}

.content {
    position: fixed;
    width: inherit;
    padding-left: 15px;
    left: 100vw;

    height: calc(95vh - var(--heightKeyB));

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.col {
    width: 48%;
    height: 100%;
}
.col-80 {
    width: 58%;
    height: 100%;
}

.col-20 {
    width: 38%;
    height: 100%;

    display: flex;

    flex-direction: column;
    justify-content: flex-start;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 48%;
    height: 100%;
}

.row-100 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#music {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projectselect {

    box-sizing: border-box;

    width: 50%;
    height: 15%;
    margin: 10px;
    margin-left: 50%;

    transition-duration: 0.25s;

    font-size: var(--fontsizeMed);
    
    cursor: pointer;
}

.projectselected {
    font-size: calc(var(--fontsizeMed) * 1.2);
    color: var(--accent);
}

.projectselectedmusic {
    font-size: calc(var(--fontsizeMed) * 1.2);  
    color: var(--accent);
}

#home {
    transform: translateX(var(--leftContent));
}

.nonactive {
    opacity: 0; 
}

/** contact **/
.info-block {
    width: 100%;
    padding-top: 10%;
    font-size: var(--fontsizeMed);
}

.value {
    border-bottom: var(--accent) 2px solid;
    font-size: calc(var(--fontsizeMed) * 1.5);
}

@media only screen and (max-width: 1200px) {
    .value {
        font-size: calc(var(--fontsizeMed) * 1);
    }
}

/**Navigatie keyboard**/
.keyboard {
    position: fixed;
    left: calc(50vw - (var(--widthKeyB) / 2));
    bottom: 1vh;
    width: var(--widthKeyB);
    height: var(--heightKeyB);

    display: none;

    z-index: 300;
}

.whitekeys {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items:flex-start;
	align-content: flex-start;

    transform: translateY(500px);


    animation-duration: 1s;
}

.blackkeys {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
    padding-left: var(--widthKey);

    transform: translateY(500px);

    animation-duration: 0.5s;
}

.keywhite {
    width: var(--widthKey);
    height: var(--heightKey);
    background-color: var(--black);
    border: var(--white) var(--bordMarKey) solid;
    transition-duration: 1s;
    margin: var(--bordMarKey);

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--accent);
    font-size: 0px;

    cursor: pointer;
    user-select: none;

    transition-duration: 0.5s;
}

.keyblack {
    width: var(--widthKey);
    height: var(--heightKey);
    background-color: var(--black);
    border: var(--accent) var(--bordMarKey) solid;
    transition-duration: 1s;
    margin: var(--bordMarKey);
    margin-bottom: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffff;
    font-size: 0px;

    cursor: pointer;
    user-select: none;
    transition-duration: 0.5s;
}

#t {
    margin-left: calc(var(--widthKey) * 2 + var(--bordMarKey));
}


/** svgs **/


.material-symbols-outlined {

    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.fillGreen{
    color: var(--accent);
    fill: var(--accent);
}

.fillPink {
    color: var(--white);
    fill: var(--white);
}

@keyframes selectProject {
    0% {
        font-size: var(--fontsizeMed);
    }
    50% {
        font-size: 100px;
    }
    100% {
        font-size: var(--fontsizeMed);
    }
}