@media only screen and (orientation: portrait) {

    :root {
        --widthKey: 3vh;
        --heightKey: calc(var(--widthKey) * 2.5);
        --bordMarKey: 0.75vh; 

        --heightKeyB: calc(var(--heightKey + var(--bordMarKey) * 4) * 2);
        --widthKeyB: calc((var(--widthKey) + var(--bordMarKey) * 4) * 7);
        

        --heightPageContent: calc(70vh - 8vw * 4);
        --topPageContent: 5vh;

        --heightPageContentNav: 70vh;
        --topPageContentNav: 25vh;

        --leftContent: -97.5vw;

        --fontsizeKey: 0px;
        --fontsizeMed: 2vh;
        --fontsizeBig: 5vh;

        /** transform nav **/
        --navBarHeight: 91vh;
        --translateNavBar: translatey(91vh);
        --topPageContentNav: 200vh;
        --widthUseNavBut: 122vw;

    }

    /** mobile default **/
    .content {
        flex-direction: column;
        justify-content: space-between;
    }

    .col {
        width: 100%;
        height: 100%;
    }

    .col-20 {
        justify-content: flex-start;
        margin-top: 10vh;
        z-index: -10;
    }

    .row-80-mobile {
        width: 100%;
        height: 80%;
    }

    .row-20-mobile {
        width: 100%;
        height: 20%;

        display: flex;
        flex-direction: row;
    }

    .visMobile {
        display: block;
    }
    .visDesktop {
        display: none;
    }



    /** navigatie **/
    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;
        height: 91vh;
        top: -92vh;
        z-index: 11;
    }

    .navbut {
        width: 80%;
        font-size: calc(var(--fontsizeMed) * 1.0);
    }
    .navbutSelected{
        font-size: calc(var(--fontsizeMed) * 1.5);
    }

    #usenavbut {
        left: auto;
        right: -10vh;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 10px;

        display: none;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        align-content: flex-start;
        z-index: 10;
    }

    #usenavbut:hover {
        box-shadow: none;
        
    }
    .margin-a {
        margin-bottom: 7.5%;
    }
    /** Intro Specific **/
    h1 {
        width: 80vw;
        font-size: 10vw;
    }

    #enterButton {
        font-size: 6vw;
        width: 20vw;
        height: 20vw;
    }


    .introBut {
        width: 80vw;
        height: 15vh;

        left: 10vw;

        text-decoration: underline;
    }

    #textKey {
        bottom: calc(var(--heightKeyB) + 50px);
    }

    #skip {
        border: none;

        bottom:  calc(var(--heightKeyB) + 10px);

        min-width: 30px;
        min-height: 30px;
        width: 5vw;
        height: 5vw;

        font-size: 20px;
        
    }

    /**Main content**/
    #pagecontent {
        left: 2.5vw;
        width: calc(90vw - 2.5vw);
    }

    /** Project specific **/

    .projectselect {
        height: 25px;
        width: 100%;
        font-size: 15px;
        margin: 10px;
        text-align: right;
    }

    .projectselected {
        height: 25px;
        width: 100%;
        font-size: calc(var(--fontsizeBig) / 2);
    }

    .projectselectedmusic {
        height: 25px;
        width: 100%;
        font-size: calc(var(--fontsizeBig) / 2);
    }

    /** keyboard specific **/

    .keyboard {
        left: calc(50vw - (var(--widthKeyB) / 2));
        bottom: 3vh;
    }

    #t { 
        margin-left: 45px;
    }

    /** nav specific **/
    button {
        width: 20%;
        height: 100%;
    }
    
}