@media only screen and (orientation: landscape) {
    @media only screen and (max-height: 600px) {
        :root {
            --heightPageContent: 90svh;
        }

        .navbut {
            width: 15vw;
        }

        #usenavbut {
            left: -10svh;
            right: auto;
        }

        #usenavbut:hover {
            box-shadow: none;
            
        }

        .keyboard {
            left: auto;
            bottom: 1svh;
            right: 0vw;
            max-width: 100svh;
        }

        #pagecontent {
            width: 90vw;
        }

        #homeFoto {
            height: 50svh;
        }

        .content {
            height: 90svh;
        }

        .col-80 {
            width: 40%;
        }

        .col-20 {
            height: 30svh;
            flex-direction: row;
            flex-wrap: wrap;
            width: var(--widthKeyB);
            max-width: 100svh;

            position: fixed;
            right: 1vw;

            transform: translatex(100%);
        }

        .projectselect {
            width: 25%;
            height: 50%;
            margin: 10px;
            margin-left: 10px;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;
        }
    }
}