@media only screen and (max-width: 600px) {

    :root {
        --widthKey: 20px;
        --heightKey: 50px;
        --bordMarKey: 5px; 

        --heightKeyB: 140px;
        --widthKeyB: 280px;

        --fontsizeKey: 0px;
        --fontsizeMed: 25px;
    }

    .content {
        flex-direction: column;
        justify-content: space-between;
    }

    .col {
        width: 100%;
        height: 100%;
    }

    .row-20-mobile {
        width: 100%;
        height: 20%;

        display: flex;
        flex-direction: row;
    }

    .projectselect {
        height: 25%;
        width: 15%;
    }

    .projectselected {
        height: 50%;
        width: 40%;
    }

    .row-80-mobile {
        width: 100%;
        height: 80%;
    }

    #helplogo {
        bottom: var(--heightKeyB);
    }

    #t { 
        margin-left: 45px;
    }
}
